rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Default deny catch-all
    match /{document=**} {
      allow read, write: if false;
    }

    // Config collection where state is stored
    match /config/dbState {
      allow read, write: if true;
    }
  }
}
